aiobotocore==2.14.0
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aioitertools==0.11.0
aiosignal==1.3.1
annotated-types==0.7.0
annoy==1.17.3
anyio==4.4.0
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
async-lru==2.0.4
attrs==24.2.0
babel==2.16.0
beautifulsoup4==4.12.3
biomart==0.9.2
bionty==0.49.0
biothings-client==0.3.1
bleach==6.1.0
botocore==1.35.7
chardet==5.2.0
click==8.1.7
Cython==3.0.11
defusedxml==0.7.1
deprecation==2.1.0
distro==1.9.0
dj-database-url==2.2.0
Django==5.1
fastjsonschema==2.20.0
fastobo==0.12.3
fqdn==1.5.1
frozenlist==1.4.1
fuzzywuzzy==0.18.0
GEOparse==2.0.4
gotrue==2.7.0
graphviz==0.20.3
h11==0.14.0
hpack==4.0.0
httpcore==1.0.5
httpx==0.27.2
imageio==2.35.1
ipywidgets==8.1.5
isoduration==20.11.0
jiter==0.6.1
jmespath==1.0.1
json5==0.9.25
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
lamin_cli==0.16.2
lamin_utils==0.13.4
lamindb==0.76.3
lamindb_setup==0.76.7
lazy_loader==0.4
lnschema_core==0.73.3
loompy==3.0.7
markdown-it-py==3.0.0
mdurl==0.1.2
mistune==3.0.2
multidict==6.0.5
munkres==1.1.4
mygene==3.2.2
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nbproject==0.10.4
nbstripout==0.6.1
notebook==7.2.2
notebook_shim==0.2.4
numpy-groupies==0.11.2
openai==1.51.1
orjson==3.10.7
overrides==7.7.0
pandocfilters==1.5.1
postgrest==0.13.2
prometheus_client==0.20.0
pronto==2.5.5
psycopg2-binary==2.9.9
pyarrow==16.1.0
pydantic==2.8.2
pydantic-settings==2.4.0
pydantic_core==2.20.1
python-dotenv==1.0.1
python-json-logger==2.0.7
PyYAML==6.0.2
rapidfuzz==3.9.6
realtime==1.0.6
referencing==0.35.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.8.0
rich-click==1.8.3
rpds-py==0.20.0
rpy2==3.5.16
s3fs==2024.6.1
scikit-image==0.24.0
scipy==1.12.0
scrublet==0.2.3
Send2Trash==1.8.3
setuptools==72.1.0
sniffio==1.3.1
soupsieve==2.6
sqlparse==0.5.1
storage3==0.7.7
StrEnum==0.4.15
supabase==2.2.1
supafunc==0.3.3
terminado==0.18.1
tifffile==2024.9.20
tinycss2==1.3.0
torchaudio==2.4.0
torchvision==0.19.0
types-python-dateutil==2.9.0.20240821
tzlocal==5.2
universal_pathlib==0.2.2
uri-template==1.3.0
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
wheel==0.43.0
widgetsnbextension==4.0.13
wrapt==1.16.0
yarl==1.9.6
zstandard==0.23.0
